extends layout

block content
  h1 RxJs Demos
  ul
    li: a(href="/userSearch/bad") User-driven Search - Bad Example
    li: a(href="/userSearch/good") User-driven Search - Good Example using RxJS
    li: a(href="/serverPolling") Server Polling using RxJs
    li: a(href="/serverPolling/helper") Server Polling using RxJs Helper
